@import 'reset';
@import 'animate';
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Quicksand');

$background: #4fc3f7;
$text: #fafafa;

$cloudColor: #fff;

$bigFont: 'Major Mono Display', monospace;
$littleFont: 'Quicksand', sans-serif;

body {
   background: $background;
   background: -webkit-linear-gradient(top left, $background, lighten($background, 10%));
   background: -moz-linear-gradient(top left, $background, lighten($background, 10%));
   background: linear-gradient(top left, $background, lighten($background, 10%));
   overflow: hidden;
   height: 100vh;
}

.clear {
   clear: both;
}

.background {
   position: absolute;
   z-index: -99;

   i {
      text-shadow: 0 0 5px #0072;
   }

   i.fa-cloud {
      position: absolute;
      color: $cloudColor;
      font-size: 80px;
      display: block;

      @for $i from 1 through 6 {
         &:nth-child(#{$i}) {
            top: 230px * $i - 210px;
            animation: rightToLeft 40s infinite;
            animation-delay: -$i * 15s;
            animation-timing-function: linear;
         }
      }
   }

   i.fa-plane {
      position: absolute;
      font-size: 100px;
      color: darken($cloudColor, 10%);
      animation: upDown 10s infinite;
      animation-timing-function: ease-in-out;
      left: calc(50vw - 50px);
      top: 400px;
   }
}

.center {
   z-index: 1;
   text-align: center;
   margin: 0 auto;
   padding-top: 100px;
   width: 100%;

   h1, a {
      color: $text;
      font-family: $bigFont;
      font-size: 60px;
   }
   
   input, p#submit {
      color: $text;
      font-family: $bigFont;
      background: none;
      border: none;
      outline: none;
      width: 200px;
      font-size: 60px;
      text-align: center;
   }

   #submit {
      cursor: pointer;
      display: none;
      text-shadow: 0 0 0 #0004;
      transition: text-shadow 0.3s;

      &:hover {
         text-shadow: 0 0 20px #0078;
      }
   }
}

.error {
   z-index: 1;
   display: none;
}

.dashboard {
   z-index: 1;
   display: none;
   //display: grid;
   grid-template-columns: 10% 37.5% 5% 37.5% 10%;
   grid-template-rows: 5vh 42.5vh 5vh 42.5vh 5vh;

   p, label {
      font-family: $littleFont;
   }

   h2 {
      font-family: $bigFont;
      padding-bottom: 30px;
      font-size: 30px;
   }

   .button {
      display: block;
      padding: 10px;
      margin: 0 auto;
      background: #222;
      color: #fff;
      text-align: center;
      transition: background 0.3s;
      cursor: pointer;

      &:hover {
         background: $background;
      }
   }

   .info, .contact, .bathroom {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px #0005;
      padding: 20px;

      .label {
         display: inline-block;
         width: 200px;
      }
   }

   #textbox {
      width: 100%;

      #chat {
         display: block;
         float: left;
         width: 70%;
         margin: 0 2%;
         padding: 10px;
      }

      i {
         float: left;
         margin-right: 2%;
         margin-top: 4px;
         font-size: 30px;
      }

      #send {
         display: block;
         width: 5%;
         float: left;
         background: #222;
         color: #fff;
         padding: 10px 30px;
         transition: background 0.3s;
         text-align: center;

         &:hover {
            background: $background;
         }
      }

      &::after {
         clear: both;
      }
   }

   #messages {
      overflow-y: scroll;
      height: 80%;
      min-height: 100px;

      .message {
         padding-left: 3%;
         margin-top: 10px;
         
         img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 3px #0008;
            position: relative;
            top: 10px;
            margin-right: 10px;
         }

         p {
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
         }
      }
   }

   .info {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 2;
   }

   .contact {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row: 4;
      overflow: hidden;
   }

   .bathroom {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row: 2;
   }
}

@keyframes rightToLeft {
   0% {
      left: 100vw;
   }

   100% {
      left: -10vw;
   }
}


@keyframes upDown {
   0% {
      margin-top: -20px;
   }

   50% {
      margin-top: 20px;
   }

   100% {
      margin-top: -20px;
   }
}
