html
   head
      link(href='/public/css/main.css', type='text/css', rel='stylesheet')
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css", integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G", crossorigin="anonymous")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css", integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0", crossorigin="anonymous")
   body
      .background
         i.fas.fa-cloud
         i.fas.fa-cloud
         i.fas.fa-cloud
         i.fas.fa-cloud
         i.fas.fa-plane
      .center.home
         h1 flight number
         br
         br
         input(id='flightNumber', type='text', name='flightNumber', value='', maxlength=4, placeholder='----')
         br
         br
         p#submit go
      .center.error
         h1
         br
         br
         a(href='/') try again
      .dashboard
         .info
            h2 flight information
            p <span class='label'>Departure</span><span class='departure'>0:00 pm</span>
            br
            p <span class='label'>Arrival</span><span class='arrival'>0:00 pm</span>
            br
            p <span class='label'>Time Remaining</span><span class='timeleft'>0 Hours, 0 Minutes</span>
            br
            p <span class='label'>Weather in <span class='cityFrom'></span></span><span class='weatherFrom'>mostly sunny <i class='fas fa-sun'></i></span>
            br
            p <span class='label'>Weather in <span class='cityTo'></span></span><span class='weatherTo'>partially cloudy <i class='fas fa-cloud'></i></span>
         .contact
            #textbox
               input#chat(type='text', name='chat', value='', placeholder='Need anything? Let us know.')
               i.mic.fas.fa-microphone
               i.stop.fas.fa-stop(style='display:none')
               p#send send
            .clear
            #messages
               .message
                  p 
                     img(src='public/images/attendant.png') 
                     | Hi! I'm Gabriela. Let me know if you need anything!
         .bathroom
            h2 bathroom
            label.label Seat
            input(id='seatNumber', type='text', name='seatNumber', value='', placeholder='Seat')
            br
            br
            p <span class='label'>Estimated wait time</span><span class='bathroomWait'>0 minutes</span>
            br
            p.button.queue Join queue
      script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
      script(src="public/js/socket.io.js")
      script(src="/public/js/air-port-codes-api-min.js")
      script(src="https://cdn.WebRTC-Experiment.com/RecordRTC.js")
      script(src='/public/js/main.js')

